@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Lobster&family=Press+Start+2P&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Joan&family=Lobster&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Indie+Flower&family=Joan&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
.topsection{
    position: relative;
    margin-bottom: 10vw;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.allSection{
    color:azure;

}
.thepara{
    justify-content: center;
    margin-top: 7.320644216691069vw;
    
}
.thepara h2{
    text-align: center;
    font-size: 5.124450951683748vw;
    margin-top:-0.7320644216691069vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.thepara p{
    color:#FFE6E6;
    font-size: 1.4641288433382138vw;
}
.thepara hr{
    width:40vw;
    margin-top: -2.9282576866764276vw;
}

.searchbutton2{
    color:whitesmoke;
    width: 18vw;
    margin-left: 37.5vw;
    border-radius: 2.1961932650073206vw;
    padding-top:-1.4641288433382138vw;
    height:2.562225475841874vw;
    padding: .5rem 1.5rem;
    background: rgba(16,18,27,0.4);
    border: white;
}
.searchbutton1{
    color:whitesmoke;
    width: 18vw;
    margin-left: 2vw;
    border-radius: 2.1961932650073206vw;
    margin-top: 2vw;
    height:2.562225475841874vw;
    padding: .5rem 1.5rem;
    background: rgba(16,18,27,0.4);
    border: white;
}

::placeholder{
    font-size: 1.2445095168374818vw ;
    color:rgb(233, 216, 216);
}
.allSection{
    width:100%;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(-45deg, #38ef7d,#11998e,#4568dc,#904e95,#FD746C  );
    background-size: 400% 400% ;
    position: relative;
    animation:change 10s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto; 
    padding-left: 2.1961932650073206vw;
    box-sizing: border-box;
}
.weather{
    position:absolute;
    right:2vw;
    transform:rotate(270deg);
    white-space: nowrap;
}
.icon{
    width: 11.71303074670571vw;
    margin-top: -1.0980966325036603vw;
}

.titl{
    text-align: left;
    padding-left: 0.36603221083455345vw;
    font-size: 3.22108345534407vw;
}
.weather{
    font-size:2.1961932650073206vw;
    margin-left:85vw ;
    text-transform: capitalize;
    position: sticky;
}
p{
    margin:0;   
}
h1{
    text-align: left;
    font-size:6rem;
    margin:0;
}
.bottomsection .morph{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Arvo', serif;
}
.windspeed{
    font-size: 2.562225475841874vw;
    margin-left: 2.9282576866764276vw;
    margin-top:0.7320644216691069vw;
    margin-bottom: 0.7320644216691069vw; 
}
.chipchip{
    font-size: 2.562225475841874vw;
    margin-top:0.7320644216691069vw;
    margin-bottom: 0.7320644216691069vw;
}
.tempagain{
    margin-top:0.7320644216691069vw;
    margin-bottom: 0.7320644216691069vw;
    font-size: 2.562225475841874vw;
    margin-right: 2.9282576866764276vw;
}
.morph{
    margin: 0 4.6vw 0 0;
    background: rgba(16,18,27,0.4);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 0.7320644216691069vw;
    backdrop-filter: blur(2px);
}
.theP{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    margin-bottom: 0.21961932650073207vw;
}
.forecast{
    width:18vw;
    margin-left: 39vw;
    margin-top: 5vw;
    margin-bottom: 0;
    margin-right: 0;
    height:3.294289897510981vw;
    color:azure;
    border-radius: 2.562225475841874vw;
    cursor: pointer;
    background: rgba(16,18,27,0.4);
    border: whitesmoke;
    z-index: 1;
}
@media all and (max-width:830px){
    .forecast{
        font-size: 1.5vw;
        width: 22vw;
    }
}
@media all and (max-width:730px){
    .forecast{
        font-size: 2vw;
        width: 22vw;
        height: 5vw;
        margin-top: 2vw;
    }
    .searchbutton2::placeholder{
        font-size: 2vw;
        
    }
    .searchbutton2{
        border-radius: 50px;
    }
}
@media all and (max-width:650px){
    .temperatur h1{
        font-size: 10vw;
    }
    .weather p{
        font-size: 3vw;
    }
    .searchbutton2::placeholder{
        font-size: 1.8vw;
    }
    .forecast{
        margin-bottom: 5vw;
    }
    
}
@media all and (max-width:550px){
    .searchbutton2::placeholder{
        font-size: 2.5vw;
        
    }
    .searchbutton2{
        border-radius: 50px;
    }
    .forecast{
        height: 6.5vw;
        font-size: 2.5vw;
        width: 25vw;
        border-radius: 50px;
    }
    .windspeed p{
        font-size:3vw;
    }
    .chipchip p{
        font-size:3vw;
    }
    .tempagain p{
        font-size:3vw;
    }
   .bottomsection .morph{
    align-items: center;
   }
    .morph{
        height: 60px;
    }
}
@media all and (max-width:500px){
    .forecast{
        font-size: 3vw;
        width: 35vw;
        height: 5vw;
        margin-left: 30vw;
    }
    .searchbutton2::placeholder{
        font-size: 3vw;
    }
    .searchbutton2{
        width: 25vw;
        margin-left: 30vw;

        border-radius: 50px;
    }
}
@media all and (max-width:450px){
    .searchbutton2::placeholder{
        font-size: 4vw;
        
    }
    .forecast{
        height: 9vw;
        font-size: 4vw;
        margin-top: -13vw;
        margin-left: 32vw;

        border-radius: 50px;
        width: 40vw;
    }
    .searchbutton2{
        border-radius: 50px;
        height: 5vw;
        width: 30vw;
        margin-left: 32vw;
    }
}
@media all and (max-width:400px){
    .searchbutton2::placeholder{
        font-size:6vw;
        
    }
    
    .forecast{
        height: 9vw;
        width: 45vw;
        font-size: 4.5vw;
        margin-left: 25vw;
        margin-top: -10vw;
    }
    .titl p{
        font-size:9vw ;
        margin-bottom: 10px;
    }
    .temperatur h1{
        font-size:13vw ;
    }
    .weather p{
        font-size: 3.5vw;
    }
    .searchbutton2{
        width: 25vw;
        height: 5vw;
        border-radius: 50px;
        margin-left: 30vw;

    }
    .searchbutton2::placeholder{
        font-size: 2.8vw;
    }
    .windspeed p{
        font-size: 4vw;
    }
    .chipchip p{
        font-size: 4vw;
    }
    .tempagain p{
        font-size:4vw;
    }
}
@media all and (max-width:300px){
    .forecast{
        margin-top: -18vw;
    }
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
        
    }
}
@media all and (max-width:850px){
    .thepara p{
        font-size: 2vw;
        margin-bottom: 3vw;
    }
   
    .thepara h2{
        font-size: 10vw;
    }
}
@media all and (max-width:650px){
    .thepara p{
        font-size: 2.5vw;
    }
  
    .thepara h2{
        font-size: 12vw;
        margin-bottom: 5vw ;
    }
}
@media all and (max-width:500px){
    .thepara p{
        font-size: 3vw;
    }
   
    .thepara h2{
        font-size: 14vw;
    }
    .searchbutton1::placeholder{
        font-size: 2vw;

    }

 
}
@media all and (max-width:345px){
    .thepara p{
        font-size:2.5vw;
    }
   
    .thepara h2{
        font-size: 10vw;
    }

 
}